@import url(./config.css);
@import url(./loader.css);
@import url(./swipe.css);

/* ============================= LANDING SECTION ============================= */

#landingSection {
    background-image: url(../assets/img/background-dark.svg);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#landingSection h1 {
    font-size: 8rem;
    font-family: Photo;
    color: white;
    text-align: center;
    letter-spacing: 0.2rem;
}

.text-focus {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



#landingSection span {
    font-size: 5rem;
    font-family: High;
    color: white;
    text-align: center;
}



/* ============================= ABOUT SECTION ============================= */


#aboutSection {
    background-color: #72757e;
    height: fit-content;
    padding: 0 1rem 0 1rem;
}

#aboutSection h2 {
    font-family: High;
    font-size: 7rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 4rem;
}

.containerAbout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.containerAbout img {
    width: 80%;
    border-radius: 1rem;
}

.containerAbout h3 {
    font-family: Silian;
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.containerAbout p {
    font-family: Basic;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5rem;
    padding: 0 1rem 0 1rem;
}

/* ============================= PROJECTS SECTION ============================= */

#projectsSection {
    background-color: #16161a;
    height: fit-content;
    padding: 0 1rem 0 1rem;
}

#projectsSection h2 {
    color: #fffffe;
    font-family: High;
    font-size: 7rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 7rem;
}

.containerProjects h3 {
    color: #fffffe;
    font-family: Silian;
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.containerProjects p {
    color: #fffffe;
    font-family: Basic;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5rem;
}

.containerProjects .dontorText {
    font-family: Organic;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fa9702;
}

.containerProjects video {
    display: block;
    margin: auto;
    max-width: 80%;
}

.sendButton {
    width: 30%;
    font-size: 3rem;
    font-family: Basic;
    border-radius: 1rem;
}

/* ============================= CONTACT SECTION ============================= */

#contactSection {
    background-color: #72757e;
    height: 50vh;
    overflow-y: hidden;
}

#contactSection h2 {
    font-family: High;
    font-size: 7rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}



input {
    font-family: Basic;
    font-size: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 80%;
}

textarea {
    font-family: Basic;
    font-size: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 80%;
}




@media only screen and (min-width: 768px) {
    .containerAbout img {
        width: 40rem;
        border-radius: 1rem;
    }

}

@media only screen and (min-width: 992px) {
    #landingSection h1 {
        font-size: 15rem;
    }

    #aboutSection {
        height: 100vh;
    }

    #aboutSection h2 {
        font-size: 10rem;
    }

    .containerAbout {
        display: grid;
    }

    .titleAbout {
        grid-area: 1 / 2 / 2 / 3;
    }

    .pAbout {
        grid-area: 1 / 2 / 2 / 3;
        margin-top: 20rem;
        text-align: justify;
    }

    .titleAbout_2 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .pAbout_2 {
        grid-area: 1 / 3 / 2 / 4;
        margin-top: 20rem;
        text-align: justify;
    }

    .containerAbout img {
        width: 50rem;
        margin-left: 10rem;
        border-radius: 1rem;
    }

    #projecsSection h2 {
        font-size: 10rem;
    }


    .containerProjects video {
        max-width: 50%;
    }

    #contactSection {
        height: 70vh;
    }

    #contactSection h2 {
        padding-bottom: 10rem;
        font-size: 10rem;
    }

    .form {
        margin: auto;
        width: 50%;
    }

    input {
        width: 60%;
    }
    textarea {
        width: 60%;
    }
}